html {
  position: relative;
}

body {
  margin-bottom: 100px;
}
.jumbotron {
  background-image: url("../img/header.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 -100px;
}
.jumbotron img {
  width: 200px;
  border: 5px solid #ffffff;
}
.jumbotron h1,
.jumbotron p {
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

hr {
  width: 50%;
  border-top: 3px solid #b8beca;
}
section {
  min-height: 600px;
}

.image:hover {
  background-size: 150%;
  background-position: center;
}

.portfolio {
  background-color: #eee;
}

.contact {
  min-height: 800px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #83bae4;
}
